.mb-4p{margin-bottom: 4px;}
.mb-8p{margin-bottom: 8px;}
.mb-12p{margin-bottom: 12px;}
.mb-16p{margin-bottom: 16px;}
.mb-20p{margin-bottom: 20px;}
.mb-24p{margin-bottom: 24px;}
.mb-28p{margin-bottom: 28px;}
.mb-32p{margin-bottom: 32px;}
.mb-36p{margin-bottom: 36px;}
.mb-40p{margin-bottom: 40px;}
.mb-48p{margin-bottom: 48px;}

.mt-4p{margin-top: 4px;}
.mt-8p{margin-top: 8px;}
.mt-12p{margin-top: 12px;}
.mt-16p{margin-top: 16px;}
.mt-20p{margin-top: 20px;}
.mt-24p{margin-top: 24px;}
.mt-28p{margin-top: 28px;}
.mt-32p{margin-top: 32px;}
.mt-36p{margin-top: 36px;}
.mt-40p{margin-top: 40px;}
.mt-48p{margin-top: 48px;}

.mr-4p{margin-right: 4px;}
.mr-8p{margin-right: 8px;}
.mr-12p{margin-right: 12px;}
.mr-16p{margin-right: 16px;}
.mr-20p{margin-right: 20px;}
.mr-24p{margin-right: 24px;}
.mr-28p{margin-right: 28px;}
.mr-32p{margin-right: 32px;}
.mr-36p{margin-right: 36px;}
.mr-40p{margin-right: 40px;}

.ml-4p{margin-left: 4px;}
.ml-8p{margin-left: 8px;}
.ml-12p{margin-left: 12px;}
.ml-16p{margin-left: 16px;}
.ml-20p{margin-left: 20px;}
.ml-24p{margin-left: 24px;}
.ml-28p{margin-left: 28px;}
.ml-32p{margin-left: 32px;}
.ml-36p{margin-left: 36px;}
.ml-40p{margin-left: 40px;}

.pb-4p{padding-bottom: 4px;}
.pb-8p{padding-bottom: 8px;}
.pb-12p{padding-bottom: 12px;}
.pb-16p{padding-bottom: 16px;}
.pb-20p{padding-bottom: 20px;}
.pb-24p{padding-bottom: 24px;}
.pb-28p{padding-bottom: 28px;}
.pb-32p{padding-bottom: 32px;}
.pb-36p{padding-bottom: 36px;}
.pb-40p{padding-bottom: 40px;}

.pt-4p{padding-top: 4px;}
.pt-8p{padding-top: 8px;}
.pt-12p{padding-top: 12px;}
.pt-16p{padding-top: 16px;}
.pt-20p{padding-top: 20px;}
.pt-24p{padding-top: 24px;}
.pt-28p{padding-top: 28px;}
.pt-32p{padding-top: 32px;}
.pt-36p{padding-top: 36px;}
.pt-40p{padding-top: 40px;}

.pr-4p{padding-right: 4px;}
.pr-8p{padding-right: 8px;}
.pr-12p{padding-right: 12px;}
.pr-16p{padding-right: 16px;}
.pr-20p{padding-right: 20px;}
.pr-24p{padding-right: 24px;}
.pr-28p{padding-right: 28px;}
.pr-32p{padding-right: 32px;}
.pr-36p{padding-right: 36px;}
.pr-40p{padding-right: 40px;}

.pl-4p{padding-left: 4px;}
.pl-8p{padding-left: 8px;}
.pl-12p{padding-left: 12px;}
.pl-16p{padding-left: 16px;}
.pl-20p{padding-left: 20px;}
.pl-24p{padding-left: 24px;}
.pl-28p{padding-left: 28px;}
.pl-32p{padding-left: 32px;}
.pl-36p{padding-left: 36px;}
.pl-40p{padding-left: 40px;}