//font family
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
body {
  font-family: 'Poppins', sans-serif;
  color: var(--black-text-color);
}

//font size
.font-10{font-size: var(--font-size-10) !important;}
.font-12{font-size: var(--font-size-12) !important;}
.font-14{font-size: var(--font-size-14) !important;}
.font-16{font-size: var(--font-size-16) !important;}
.font-18{font-size: var(--font-size-18) !important;}
.font-20{font-size: var(--font-size-20) !important;}
.font-22{font-size: var(--font-size-22) !important;}
.font-24{font-size: var(--font-size-24) !important;}
.font-26{font-size: var(--font-size-26) !important;}
.font-28{font-size: var(--font-size-28) !important;}
.font-30{font-size: var(--font-size-30) !important;}
.font-32{font-size: var(--font-size-32) !important;}
.font-34{font-size: var(--font-size-34) !important;}
.font-36{font-size: var(--font-size-36) !important;}

//font weight
.font-300{font-weight: var(--font-weight-300) !important;}
.font-400{font-weight: var(--font-weight-400) !important;}
.font-500{font-weight: var(--font-weight-500) !important;}
.font-600{font-weight: var(--font-weight-600) !important;}
.font-700{font-weight: var(--font-weight-700) !important;}

//font line height
.lineH-1_25{line-height: 1.25;}
.lineH-1_43{line-height: 1.43;}
.lineH-1_64{line-height: 1.64;}

.letter-spacing-0_34{letter-spacing: 0.34px;}

.text-line-through{text-decoration: line-through;}

.text-uppercase{text-transform: uppercase;}

h1{
  font-size: var(--font-size-34) !important;
  @extend .letter-spacing-0_34;
  line-height: 46px;
  margin-bottom: 0;
}
h2{
  font-size: var(--font-size-24) !important;
  @extend .letter-spacing-0_34;
  line-height: 32px;
  margin-bottom: 0;
}
h3{
  font-size: var(--font-size-20) !important;
  @extend .letter-spacing-0_34;
  margin-bottom: 0;
}
h4{
  font-size: var(--font-size-18) !important;
  @extend .letter-spacing-0_34;
  margin-bottom: 0;
}
h5{
  font-size: var(--font-size-14) !important;
  @extend .letter-spacing-0_34;
  margin-bottom: 0;
  line-height: 1.7;
}
h6{
  font-size: var(--font-size-12) !important;
  @extend .letter-spacing-0_34;
  margin-bottom: 0;
}