.button{
    outline: none;
    box-shadow: none;
    border-radius: 3px;
    font-size: 12px;
    border: 1px solid;
    padding: 8px 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    text-align: center;
    &.primary{
        background-color: var(--primary-text-color);
        border-color: var(--primary-text-color);
        color: var(--white-text-color);
    }
    &.default{
        background-color: var(--white-background-color);
        border-color: var(--primary-text-color);
        color: var(--primary-text-color);
    }
}